h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #333;
  text-align: center;
}

/* Animación para que aparezca suavemente */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.card {
  width: 80%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card.enter {
  animation: fadeInUp 0.5s ease forwards;
}

.card.exit {
  animation: fadeOutDown 0.5s ease forwards;
}

.card-body app-input-t1{
  margin-top: 0;
}

.silenced-text{
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-size: 0.9rem;
}

.button-card-container{
  display: flex;
  justify-content: end;
}

.card-header{
  background: radial-gradient(circle, #ffa270 1%, #ff6f37);
  /* background: radial-gradient(circle, #0a0a4a 1%, #343578); */
}

.card-header h2 {
  color: white;
}
