<div class="card-container" *ngIf="forgotPassword || isAnimating">
  <div class="card" [ngClass]="{ 'enter': forgotPassword && !isAnimating, 'exit': !forgotPassword && isAnimating }"
       (animationend)="onAnimationEnd()">
    <div class="card-header">
      <h2> Recuperar Contraseña </h2>
    </div>
    <div class="card-body">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <!--? Correo  -->
        <app-input-t1
          [label]="'Correo electrónico'"
          [placeholder]="'nombre_apellido@radec.com.mx'"
          [type]="'email'"
          formControlName="email"
        >
        </app-input-t1>
        <span class="silenced-text"> Te enviaremos tu contraseña a tu correo electrónico. </span>
        <div class="button-card-container">
          <button class= "btn-t1" type= "button" (click)="closeCardHandler()"> Cerrar </button>
          <button class= "btn-t1 bg-warn" type= "submit"> Enviar Correo </button>
        </div>
      </form>
    </div>
  </div>
</div>
