.background-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.header {
  display: block;
  background-color: #f0f0f0;
  padding: 0;
  text-align: center;
  background-image: url("../../../assets/radec-header.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh; /* Altura dinámica según el viewport */
  min-height: 171px; /* Altura mínima para pantallas pequeñas */
  max-height: 300px; /* Limita la altura para pantallas grandes */
  flex-shrink: 0;
  cursor: pointer;
}

.content {
  flex: 1;
  position: relative;
  z-index: 10;
  padding: 1rem 1.2rem;
  margin-top: 60px;
}

/* Background */
.dot-pattern {
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(circle at center, #FF6B00 4px, transparent 2px),
    radial-gradient(circle at center, #FF6B00 2px, transparent 2px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  opacity: 0.20;
}
/* Background END */

/* Navbar styles */
.navbar {
  background: linear-gradient(to right, #2A2A2A, #333333);
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 98%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: white;
}

.separator {
  width: 2px;
  height: 24px;
  background-color: #FF6B00;
  margin: 0 1rem;
}


.animated-line {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.animated-line::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease, left 0.4s ease;
}

.animated-line:hover::before {
  width: 100%;
  left: 0;
}

.navbar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, #0a0a4a 1%, #343578);
  color: white;
  padding: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  z-index: 10;
}

.footer-text{
  font-size: 12px;
  text-decoration: none;
  color: white;
}


.logout{
  color: #FF5722;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout:hover {
  color: white;
  transition: 0.5s;
}

.logout span{
  padding: 0 10px;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 1rem;
}

.icon{
  color: white;
  margin: 0 0.3rem;
}

.home-btn:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
}
