<div class="background-container">
  <!--* Loading spinner -->
  <app-spinner [isLoading]="isLoading"></app-spinner>

  <!-- Patron de background  -->
  <div class="dot-pattern"></div>

  <div class="content">

    <nav class="navbar">
      <div class="navbar-container">
        <div class="navbar-brand">
          <h1>Applicaciones Radec</h1>

          <div class="separator"></div>
          <!-- <button class="home-btn"> <i class="bi bi-house-fill icon"></i> </button> -->

          <div class="w-60">
            <input type="text" class="form-control"
                   placeholder="Buscar"
                   [(ngModel)]="searchText"
                   (input)="onSearchChange()"
            >
          </div>
        </div>
        <div class="logout animated-line">
            <i class="bi bi-box-arrow-right"></i>
          <span data-bs-toggle="modal" data-bs-target="#logoutModal">Salir</span>
        </div>
      </div>
    </nav>

    <!-- Contenido -->
    <app-list [searchText]="searchText"></app-list>

  </div>
  <nav class="navbar-footer">
    <a class="footer-text"> © {{ currentYear }} Todos los derechos reservados </a>
    <a class="footer-text"> RADEC S.A. de C.V. </a>
  </nav>
</div>


<!--* Logout modal -->
<div class="modal fade" tabindex="-1" id="logoutModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center">¿Estas seguro de que deseas cerrar sesión?</p>
        <div class="button-container">
          <button class= "btn-t1 bg-white" type="button" data-bs-dismiss="modal"> Cancelar </button>
          <button class= "btn-t1 bg-warn" type="button" (click)="onLogOut()" data-bs-dismiss="modal" > Continuar </button>
        </div>
      </div>
    </div>
  </div>
</div>
