<div class="container background-container">
  <!-- Patron de background  -->
<div class="dot-pattern"></div>

<div class="content">
  <a class="header" href="https://www.radec.com.mx/"></a>

  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        <h1>Applicaciones Radec</h1>
        <div class="separator"></div>

         <!-- Filtro de búsqueda -->
      <!-- <div class="form-group">
        <input
        type="text"
        [(ngModel)]="searchText"
        (input)="onSearchChange()"
        placeholder="Buscar"
        class="search-input"
      >
      </div> -->

        <!-- <ul class="nav-list">
          <li *ngFor="let option of navList"> -->

            <!-- Dropdown menu -->
            <!-- <ng-container *ngIf="option.submenu; else singleOption">
             <div class="dd-container">
              <h2 class="nav-option animated-line">
                {{option.name}}
                <svg class="dd-icon" viewBox="0 0 24 24" width="24" height="24">
                  <path d="M7 10l5 5 5-5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
              </h2> -->

              <!-- Submenu -->
              <!-- <ul class="dd-menu">
                <li *ngFor="let submenu of option.submenu">
                  <a class="dd-item" [href]="submenu.route">
                    <i *ngIf="submenu.icon">
                      <img [src]="submenu.icon" width="20" height="20">
                    </i>
                    {{submenu.name}}
                  </a>
                </li>
              </ul>
             </div>
            </ng-container> -->


            <!-- Single option -->
            <!-- <ng-template #singleOption>
              <h2 class="animated-line">
                <a [href]="option.route" class="nav-option" style="text-decoration: none;">{{option.name}}</a>
              </h2>
            </ng-template>
          </li>
        </ul> -->

      </div>
    </div>
  </nav>

  <!-- Contenido -->
  <app-list [searchText]="searchText"></app-list>
</div>
  <nav class="navbar-footer">
    <a class="footer-text"> Catálogo Tracto 2023 </a>
    <a class="footer-text"> Presentación Corporativa 2024 </a>
  </nav>
</div>
