<div class="card-container" *ngIf="changePassword || isAnimating">
  <div class="card" [ngClass]="{ 'enter': changePassword && !isAnimating, 'exit': !changePassword && isAnimating }"
  (animationend)="onAnimationEnd()">
  <div class="card-header">
    <h2> Cambiar contraseña </h2>
  </div>
  <div class="card-body">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <span class="alert-text"> La contraseña cambiará para aplicaciones radec y para la app de checadas. </span>
        <!--? Usuario  -->
        <app-input-t1
          [label]="'Usuario'"
          [placeholder]="' '"
          [type]="'text'"
          formControlName="user"
        >
        </app-input-t1>

        <!--? Contraseña actual  -->
        <app-input-t1
          [label]="'Contraseña actual'"
          [placeholder]="' '"
          [type]="'password'"
          formControlName="currentPass"
        >
        </app-input-t1>

        <!--? Nueva contraseña  -->
        <app-input-t1
          [label]="'Nueva contraseña'"
          [placeholder]="' '"
          [type]="'password'"
          formControlName="newPass"
        >
        </app-input-t1>

        <!--? Confirmar contraseña  -->
        <app-input-t1
          [label]="'Confirmar contraseña'"
          [placeholder]="' '"
          [type]="'password'"
          formControlName="confirmPass"
        >
        </app-input-t1>

        <div class="pass-description">
          <span class="silenced-text">La contraseña debe tener:</span>
          <ul class="text-center">
            <li class="silenced-text">Entre 8 y 16 caraceteres</li>
            <li class="silenced-text">Minimo 1 mayúscula</li>
            <li class="silenced-text">Minimo 1 minúscula</li>
            <li class="silenced-text">Minimo 1 número</li>
          </ul>
        </div>

        <div class="button-card-container">
          <button class= "btn-t1" type= "button" (click)="closeCardHandler()"> Cerrar </button>
          <button class= "btn-t1 bg-warn" type= "submit"> Actualizar contraseña </button>
        </div>
      </form>

    </div>
  </div>
</div>
