<div class="login-container">
  <!--* Loading spinner -->
  <app-spinner [isLoading]="isLoading"></app-spinner>

  <!--* Formulario a la izquierda -->
  <div class="form-container">
    <div class="logo-container">
      <img src="/assets/radec-logo-removebg.png" alt="Logo Radec" class="logo">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!--? Usuario -->
      <app-input-t1
        [label]="'Usuario'"
        [placeholder]="''"
        [type]="'text'"
        formControlName="user"
      >
      </app-input-t1>

      <!--? Contraseña -->
      <app-input-t1
        [label]="'Contraseña'"
        [placeholder]="''"
        [type]="'password'"
        formControlName="password"
      >
      </app-input-t1>

      <div class="forgot-password-container">
        <a class="forgot-password" (click)="updateValue('RECOVER')">¿Olvidaste tu contraseña?</a>
      </div>

      <div class="button-container">
        <app-button-t1 [text]="'Ingresar'" [type]="'submit'" [disabled]="loginForm.invalid"></app-button-t1>
      </div>

    </form>

    <div class="decorative-line">
      <hr>
    </div>

    <div class="change-password-container">
      <a class="change-password" (click)="updateValue('CHANGE')">Cambiar contraseña</a>
    </div>
  </div>

  <!-- Imagen a la derecha -->
  <div class="image-container">

      <!--? Cards -->
      <app-forgot-password [forgotPassword]="forgotPassword" (closeCard)="forgotPassword = $event;"></app-forgot-password>
      <app-change-password [changePassword]="changePassword" (closeCard)="changePassword = $event;"></app-change-password>
  </div>
</div>



