<div>
  <label for="input-wlabel" class="block text-sm/6 font-medium text-gray-900">{{ label }}</label>
  <div class="mt-2">
    <div class="flex items-center rounded-md bg-white outline outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-orange-300">
      <input [type]="type"
             name="input-wlabel"
             class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
             placeholder="{{ placeholder }}"
             [placeholder]="placeholder"
             [(ngModel)]="value"
             (blur)="onTouched()"
             (input)="setValue($event)"
      >
    </div>
  </div>
</div>
